
 body {
            font-family: Arial, sans-serif;
            background-color: #f3f3f3;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }
        h2 {
            text-align: center;
            color: #000000;
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }
        input[type="text"], input[type="email"], input[type="password"] {
            width: 90%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        input[type="submit"] {
            background-color: #ffcc00;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
        }
        input[type="submit"]:hover {
            background-color: #ff9900;
        }
        .navbar {
            background-color: #333;
            color: #fff;
            padding: 15px;
        }

        /* Estilos CSS para os cards de produtos */
        .card {
            border: 1px solid #ddd;
            margin: 10px;
            padding: 10px;
            text-align: center;
            background-color: #fff;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        }

        /* Estilos CSS para o rodapé */
        .footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }
/* Estilo para o botão do dropdown */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Estilo para o contêiner do dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo para os links do dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Estilo para os links do dropdown ao passar o mouse por cima */
.dropdown-content a:hover {
    background-color: #3498db;
    color: white;
}

/* Exibe o dropdown quando o mouse passa por cima do botão */
.dropdown:hover .dropdown-content {
    display: block;
}
